<% if @commits.exists? %>
  $('#tab-content-view_gitlab_commits').html('<%= escape_javascript(render(partial: 'view_gitlab/view_gitlab_commits_data', locals: { gtc_commit_list: @commits })) %>');
<% else %>
  $('#tab-content-view_gitlab_commits').html('<h3><%= l(:no_commits) %></h3>')
<% end %>